<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" placeholder="长" v-model='width'>
        <input type="text" placeholder="宽" v-model='length'>
        <input type="text" placeholder="高" v-model='height'>
        <div>
        	{{total}}
        </div>
    </div>
</body>
<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script>
    //输入长宽高后再div内显示体积
    
    new Vue({
    	el:'#app',
    	data:{
    		width:0,
    		length:0,
    		height:0,
    	},
    	computed:{
    		total(){
    			return this.width * this.length * this.height
    		}
    	}
    })
    
</script>
</html>